#card {
  border: solid 1px;
  border-color: #dedede;
  width: 720px;
/*  height:320px;*/

}
#card-container {
  width: 722px;
  height: 312px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
#logo {
  width: 302px;
  height: 302px;
  padding: 8px;
  float: left;
}

#about {
  width: 400px;
  float: left;
  margin: 55px 0px;
}

#clear {
  clear: both;
}

.hzline {
  float: left;
  height: 270px;
  margin: 20px 0px;
  border-left: solid 1px;
  border-color: #202020;
}