$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//colors
$white: #fff;
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_mountain_meadow_approx: #1abc9c;
$color_concord_approx: #7b7b7b;
$color_celeste_approx: #ccc;
$color_niagara_approx: #16a085;
$color_log_cabin_approx: #222;
$concrete: #f2f2f2;
$color_quill_gray_approx: #d2d2d2;

//fonts
$font_0: Montserrat;
$font_1: sans-serif;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
  font-family: $font_0, $font_1;
  font-weight: 700;
  color: $color_mine_shaft_approx;
}

//original selectors
//a:hover, a:focus
%extend_2 {
  color: $color_concord_approx;
  text-decoration: none;
  outline: 0;
}


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: $white;
  font-family: $font_0, $font_1;
  font-weight: 400;
  font-size: 14px;
  color: $color_fuscous_gray_approx;
}
h1 {
  @extend %extend_1;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}
h2 {
  @extend %extend_1;
}
h3 {
  @extend %extend_1;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}
.centered {
  text-align: center;
}
a {
  color: $color_mountain_meadow_approx;
  word-wrap: break-word;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: color 0.1s ease-in, background 0.1s ease-in;
  &:hover {
    @extend %extend_2;
  }
  &:focus {
    @extend %extend_2;
  }
  &:before {
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  &:after {
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color_celeste_approx;
  margin: 1em 0;
  padding: 0;
}
.navbar {
  text-transform: uppercase;
  margin-bottom: 0;
}
.navbar-inverse {
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: $color_mountain_meadow_approx;
  border-color: $color_niagara_approx;
  .navbar-brand {
    color: $white;
  }
  .navbar-toggle {
    border-color: transparent;
  }
  .navbar-nav > li > a {
    color: $white;
    &:hover {
      color: $color_log_cabin_approx;
    }
  }
}
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}
.progress-bar-theme {
  background-color: $color_mountain_meadow_approx;
}
.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}
.pt {
  padding-top: 50px;
  padding-bottom: 50px;
}
#ww {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $concrete;
}
#footer {
  background-color: $color_mine_shaft_approx;
  padding-top: 50px;
  padding-bottom: 50px;
  p {
    color: $white;
  }
  h4 {
    color: $white;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
}
#grey {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $concrete;
}
#white {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $white;
}
bd {
  font-size: 12px;
  text-transform: uppercase;
  color: $color_quill_gray_approx;
  font-weight: 700;
}
ba {
  font-size: 12px;
  text-transform: uppercase;
}
.bq {
  font-size: 22px;
  padding-top: 30px;
}
bt {
  font-size: 12px;
}
.zoom {
  display: block;
  position: relative;
  overflow: hidden;
  background: transparent url(../img/loader.gif) no-repeat center;
}
.zoomOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
}
.zoom2 {
  opacity: 1;
  &:hover {
    opacity: 0.5;
  }
}
.glyphicon {
  font-size: 40px;
  color: $color_mountain_meadow_approx;
}
