---
layout: page
title: Home
---

<h2>Recent Articles</h2>

{% for post in paginator.posts %}
<h2><li><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li></h2>
    <p>{{ post.content | truncatewords:100 }}</p>    
{% endfor %}

{% if paginator.next_page %}
    <h3><a href="/page{{ paginator.next_page }}/">older posts</a></h3>
{% endif %}

{% if paginator.previous_page %}
    <h3><a href="
            {% if paginator.previous_page == 1 %} 
            /
            {% else %}
            /page{{ paginator.previous_page }}
            {% endif %}">newer posts</a></h3>
{% endif %}
