<!-- include nav-->
<div class="navbar navbar-inverse navbar-static-top {% if page.nav == "home" %}navbar-home{% else %}navbar-alone{% endif %}
">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/beer">Beer</a></li> -->
        <li><a href="/blog">Blog</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
    <!-- /.nav-collapse-->
  </div>
</div>
