{% set page.nav = "journal" %}
{% extends 'default.html' %}
{% block content %}

<div class="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>{{ page.title }}</h2>
        <bd>{{ page.date|date('Y-m-d') }}</bd>
        <p>
          {{ page.content|safe }}
        </p>
        <p>
          <!-- <bt>TAGS:
            {% for tag in page.tags %}
            <a href="/tag/{{tag}}.html">{{tag}}</a>
            {% endfor %}
          </bt> -->
        </p>
        <!-- <p class="pull-right">
        <a href="{{ post.url }}" class="btn btn-primary">read more</a>
      </p> -->
    </div>
  </div><!-- /row -->
</div> <!-- /container -->
</div><!-- /white -->
