<!DOCTYPE html>
<html lang="en" class="no-js">
{{> partials/common/header }}
<body>

  {{> partials/common/nav }}

  {{> partials/about/welcome }}

  {{> partials/about/main }}

  {{> partials/common/footer }}

  {{> partials/common/ga }}

  {{> partials/common/bottomScripts }}

</body>
</html>
